* {
  box-sizing: border-box;
}

// html {
//   font-family: var(--font-family);
//   background-color: var(--primary-background-color);
//   color: var(--primary-text-color);
//   line-height: 1.15;
// }

body {
  margin: 0;
  font-family: sans-serif;
}

.transform-none {
  text-transform: none;
}

a {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}


button {
  font-family: "Roboto", sans-serif;
  border-radius: 0.5em;

  padding: 0.5em 1em;

  white-space: nowrap;
}