.admin-panel-container {

    .admin-panel-title {
        font-size: 1.5rem;
        margin-block: 2rem;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .btns-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        margin-block: 4rem;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .8rem;
            border-radius: 1rem;
            outline: none;
            background: linear-gradient(40deg, #2DACEE, #32BFDD, #33CBD6);
            box-shadow: 2px 1px 24px -8px rgb(45, 172, 238, 0.85);
            color: white;
            cursor: pointer;
            transition: all .2s ease-in;

            &:hover {
                color: black;
            }
        }
    }

}